SECRET_KEY={{ secret_key }}
AWS_REGION_NAME={{ aws_region_name }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
S3_BUCKET={{ s3_bucket }}
DYNAMODB_USERS={{ dynamodb_users }}
DYNAMODB_QUIZZES={{ dynamodb_quizzes }}
DYNAMODB_ATTEMPTS={{ dynamodb_attempts }}
DYNAMODB_RESPONSES={{ dynamodb_responses }}
DYNAMODB_INSPECTOR={{ dynamodb_inspector }}
DYNAMODB_INSPECTOR_ANON={{ dynamodb_inspector_anon }}
VIDEO_BASE_URL={{ video_base_url | default('') }}
